.app.dark {
  --bg-color: #070763;
  --inverted-bg-color: #ece4e4;

  --primary-color: #3aad3a;
  --secondary-color: #98c298;
  --inverted-primary-color: #213b8d;
  --inverted-secondary-color: #345ce8;
}